In [4]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class4pmpython"
)

db = database.cursor()

In [5]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 300, 80.0, 'A')
(2, 'Shyam', 78, 89, 78, 90, 72, 150, 80.0, 'A')

In [6]:
db.execute("SELECT sn,name,total,per,grade FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 300, 80.0, 'A')
(2, 'Shyam', 150, 80.0, 'A')

In [9]:
sql = "INSERT INTO student(name, physics, chemistry, math, english, nepali, total, per, grade) VALUES ('Akash',78,80,85,90,87,400,80,'A')"
db.execute(sql)
database.commit()

In [11]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter english = "))
    nepali = int(input("Enter Nepali ="))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    if per > 80:
        grade = "A"
    elif per > 60:
        grade = "B"
        
    elif per >45:
        grade = "C"
    else:
        grade = "F"
        
    sql = f"INSERT INTO student(name, physics, chemistry, math, english, nepali, total, per, grade) VALUES ('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')"
    db.execute(sql)
    
    
database.commit()

Enter n = 1
Enter name = Abhinav
Enter physics = 89
Enter chemistry = 78
Enter math = 87
Enter english = 67
Enter Nepali =45

In [12]:
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 300, 80.0, 'A')
(2, 'Shyam', 78, 89, 78, 90, 72, 150, 80.0, 'A')
(3, 'Akash', 78, 80, 85, 90, 87, 400, 80.0, 'A')

In [14]:
db.execute("SELECT * FROM student WHERE per >= 80.0")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 300, 80.0, 'A')
(2, 'Shyam', 78, 89, 78, 90, 72, 150, 80.0, 'A')
(3, 'Akash', 78, 80, 85, 90, 87, 400, 80.0, 'A')

In [15]:
db.execute("DELETE FROM student WHERE per<80")
        
database.commit()

In [16]:
db.execute("DELETE FROM student WHERE sn =1")
        
database.commit()

In [17]:
db.execute("SELECT * FROM student WHERE per >= 80.0")
result =db.fetchall()
for x in result:
    print(x)

(2, 'Shyam', 78, 89, 78, 90, 72, 150, 80.0, 'A')
(3, 'Akash', 78, 80, 85, 90, 87, 400, 80.0, 'A')

In [19]:
# sql = "UPDATE student SET name = 'Shyam Prasad' WHERE sn = 2"
db.execute("UPDATE student SET name = 'Shyam Prasad' WHERE sn = 2")
        
database.commit()

In [20]:
db.execute("SELECT * FROM student WHERE per >= 80.0")
result =db.fetchall()
for x in result:
    print(x)

(2, 'Shyam Prasad', 78, 89, 78, 90, 72, 150, 80.0, 'A')
(3, 'Akash', 78, 80, 85, 90, 87, 400, 80.0, 'A')