In [1]:
# a = {}
# b = {<key>:<value>,<key>:<value>}

In [2]:
a = dict()
b = {"a":"Apple","b":"Ball","c":"Cat"}
print(b)
print(type(b))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [4]:
# Dict
# -Indexed
# -Duplicate values
# -Ordered
#mutable

In [8]:
b = {"a":"Apple","b":"Ball","c":"Cat"}
print(b["a"])
print(b["b"])
print(b["c"])
print(len(b))

Apple
Ball
Cat
3

In [9]:
b = {"a":"Apple","b":"Ball","c":"Cat","a":"Ant"}
b

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [12]:
b = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
print(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [14]:
a = {}
#a[<key>] = <value>
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
a = {}
#a[<key>] = <value>
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a["c"] = "Coat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Coat'}

In [16]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data[name] = phone
    
print(data)

Enter n = 2
Enter name = Ram
Enter phone = 9867665654
Enter name = Shyam
Enter phone = 9856552321
{'Ram': '9867665654', 'Shyam': '9856552321'}

In [17]:
a = {'Ram': '9867665654', 'Shyam': '9856552321'}
for i in a:
    print(i)

Ram
Shyam

In [18]:
a = {'Ram': '9867665654', 'Shyam': '9856552321'}
for i in a.values():
    print(i)

9867665654
9856552321

In [19]:
a = {'Ram': '9867665654', 'Shyam': '9856552321'}
for i in a.items():
    print(i)

('Ram', '9867665654')
('Shyam', '9856552321')

In [20]:
x = [('Ram', '9867665654'),('Shyam', '9856552321')]
dict(x)

{'Ram': '9867665654', 'Shyam': '9856552321'}

In [21]:
a = {'Ram': '9867665654', 'Shyam': '9856552321'}
a["Ram"] = "9800000000"
a

{'Ram': '9800000000', 'Shyam': '9856552321'}

In [22]:
a = {"A":"Apple"}
b = {"B":"Ball"}
c = a+b
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [23]:
a = {1:1,2:4,3:9,4:16}
print(a)

{1: 1, 2: 4, 3: 9, 4: 16}

In [24]:
a = {('Ram',"Hari"): '9800000000', 'Shyam': '9856552321'}
a

{('Ram', 'Hari'): '9800000000', 'Shyam': '9856552321'}

In [25]:
a = {['Ram',"Hari"]: '9800000000', 'Shyam': '9856552321'}
a

TypeError: unhashable type: 'list'

In [27]:
a = {'Ram': '9867665654', 'Shyam': '9856552321'}
a.clear()
print(a)

{}

In [29]:
a = {'Ram': '9867665654', 'Shyam': '9856552321'}
del a["Ram"]
print(a)

{'Shyam': '9856552321'}

In [30]:
a = {'Ram': '9867665654', 'Shyam': '9856552321'}
a.pop("Shyam")
print(a)

{'Ram': '9867665654'}

In [33]:
a = {('Ram',"Hari"): '9800000000', 'Shyam': '9856552321'}
del a[('Ram',"Hari")]
a

{'Shyam': '9856552321'}

In [34]:
#list inside dictionary
a = {'Ram': ['9867665654','9809556543'], 'Shyam': ['9856552321','9898667654']}
a

{'Ram': ['9867665654', '9809556543'], 'Shyam': ['9856552321', '9898667654']}

In [35]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell phone = ")
    if (len(ntc) == 10) and (len(ncell) ==10):
        data[name] = [ntc,ncell]
    else:
        print("Insert valid no.")
print(data)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9843556554
Enter ncell phone = 9808667654
Enter name = Shyam
Enter ntc phone = 9845667665
Enter ncell phone = 9808556543
{'Ram': ['9843556554', '9808667654'], 'Shyam': ['9845667665', '9808556543']}

In [36]:
a = {'Ram': ['9843556554', '9808667654'], 'Shyam': ['9845667665', '9808556543']}
a["Hari"] = [9845443432,9878776765]
a

{'Ram': ['9843556554', '9808667654'],
 'Shyam': ['9845667665', '9808556543'],
 'Hari': [9845443432, 9878776765]}

In [39]:
name = input("Enter name = ")
a = {'Ram': ['9843556554', '9808667654'], 'Shyam': ['9845667665', '9808556543']}
x = int(input("Enter 0 for ntc and 1 for ncell"))
if x == 0:
    print(f"NTC no of {name}",a[name][0])
elif x ==1:
    print(f"NCELL no of {name}",a[name][1])

Enter name = Ram
Enter 0 for ntc and 1 for ncell0
NTC no of Ram 9843556554

In [42]:
a = {'Ram': ['9843556554', '9808667654'], 'Shyam': ['9845667665', '9808556543']}
a["Ram"][0] = 9845665654
a["Ram"][1] = 9808667654
a

{'Ram': [9845665654, 9808667654], 'Shyam': ['9845667665', '9808556543']}

In [2]:
# dict inside list
a = [{"name":"Ram","age":34,"add":"Kathmandu"},
    {"name":"Shyam","age":45,"add":"Patan"},
    {"name":"Nabin","age":45,"add":"Bara"}]
print(a)

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 45, 'add': 'Patan'}, {'name': 'Nabin', 'age': 45, 'add': 'Bara'}]

In [3]:
for i in a:
    print(i)

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
{'name': 'Shyam', 'age': 45, 'add': 'Patan'}
{'name': 'Nabin', 'age': 45, 'add': 'Bara'}

In [4]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age  = ")
    add = input("Enter add = ")
    info = {"name":name,"age":age,"add":add}
    data.append(info)
print(data)

Enter n = 2
Enter name = Ram
Enter age  = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age  = 67
Enter add = Kathmandu
[{'name': 'Ram', 'age': '78', 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': '67', 'add': 'Kathmandu'}]

In [6]:
a = [{'name': 'Ram', 'age': '78', 'add': 'Kathmandu'}, 
     {'name': 'Shyam', 'age': '67', 'add': 'Kathmandu'}]
print(a[0]['name'])

Ram

In [7]:
a = [{'name': 'Ram', 'age': '78', 'add': 'Kathmandu'}, 
     {'name': 'Shyam', 'age': '67', 'add': 'Kathmandu'}]
a[0]['name'] = "Ram Prasad"
a

[{'name': 'Ram Prasad', 'age': '78', 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': '67', 'add': 'Kathmandu'}]

In [8]:
# dict inside dict
a = {1:{"name":"Aayush","age":20,"add":"kathmandu"},
    2:{"name":"Sabin","age":40,"add":"Bhaktapur"}}
a

{1: {'name': 'Aayush', 'age': 20, 'add': 'kathmandu'},
 2: {'name': 'Sabin', 'age': 40, 'add': 'Bhaktapur'}}

In [10]:
a[1]['name']

'Aayush'

In [11]:
a[3] = {"name":"Sabina","age":41,"add":"Bhaktapur"}
a

{1: {'name': 'Aayush', 'age': 20, 'add': 'kathmandu'},
 2: {'name': 'Sabin', 'age': 40, 'add': 'Bhaktapur'},
 3: {'name': 'Sabina', 'age': 41, 'add': 'Bhaktapur'}}

In [12]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = input("Enter age  = ")
    add = input("Enter add = ")
    data[i] = {"name":name,"age":age,"add":add}
print(data)

Enter n = 1
Enter name = Ram
Enter age  = 34
Enter add = kathmandu
{1: {'name': 'Ram', 'age': '34', 'add': 'kathmandu'}}