In [1]:
# Tuple
# -Indexed
# -Multiple Data
# -Ordered
# -Imutable

In [2]:
a = ("Apple","Ball","Cat")
print(type(a))
print(a)

<class 'tuple'>
('Apple', 'Ball', 'Cat')

In [5]:
a = ("Apple","Ball","Cat")
print(a[2])

Cat

In [6]:
a = (1,2,3,4,5,6,7,8,9,10)
print(a[0:4])
print(a[0:9:2])

(1, 2, 3, 4)
(1, 3, 5, 7, 9)

In [7]:
a = ("Apple","Ball","Cat")
b = ("Dog","Fish")
c = a+b
c

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [8]:
a = ("Apple","Ball","Cat")
print(a*2)

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [13]:
a = ("Apple",)
type(a)

tuple

In [15]:
# NO append() extend() insert()
#NO update del remove po()

In [16]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t +(x,)
print(t)

Enter n = 2
Enter x = Hello
Enter x = World
('Hello', 'World')

In [18]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
a = list(a)
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [19]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
a = tuple(a)
a

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [20]:
a = (132,3453,23,345,23,345,24,353)
print("Sum = ",sum(a))
print("Max value = ",max(a))
print("Min value = ",min(a))

Sum =  4698
Max value =  3453
Min value =  23

In [21]:
a = (132,3453,23,345,23,345,24,353)
sorted(a)

[23, 23, 24, 132, 345, 345, 353, 3453]

In [24]:
a = [132,3453,23,345,23,345,24,353]
print(sorted(a))
print(a)

[23, 23, 24, 132, 345, 345, 353, 3453]
[132, 3453, 23, 345, 23, 345, 24, 353]

In [26]:
a = [132,3453,23,345,23,345,24,353]
a.sort()
a

[23, 23, 24, 132, 345, 345, 353, 3453]

In [27]:
a = 1,2,3,4,5,6
print(a)

(1, 2, 3, 4, 5, 6)

In [28]:
def cal():
    l = 5
    b = 4
    h =2
    a = l*b
    v =a*h
    return a,v

print(cal())

(20, 40)

In [31]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
b = a[0:2]
c = a[3:]
d = b+c
print(d)

('Apple', 'Ball', 'Dog', 'Fish')

In [33]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
b = a[0:3]
c = a[3:]
d = ('cat',)
r = b+d+c
r

('Apple', 'Ball', 'Cat', 'cat', 'Dog', 'Fish')

In [34]:
#tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))
print(type(a))

<class 'tuple'>

In [36]:
a = (("Ram",34,"Kathmandu"),("Shyam",78,"Patan"),("Hari",23,"Bara"))
print(a)

(('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan'), ('Hari', 23, 'Bara'))

In [37]:
print(a[0])

('Ram', 34, 'Kathmandu')

In [38]:
for i in a:
    print(i)

('Ram', 34, 'Kathmandu')
('Shyam', 78, 'Patan')
('Hari', 23, 'Bara')

In [39]:
a = (('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan'), ('Hari', 23, 'Bara'))

for i in a:
    if  "Ram" in i:
        print(i)

('Ram', 34, 'Kathmandu')

In [42]:
info = tuple()
n = int(input("Enter n "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enterage = "))
    add = input("Enter add = ")
    info = info +((name,age,add),)
    
print(info)

Enter n 2
Enter name = Ram
Enterage = 34
Enter add = Kathmandu
Enter name = Shyam
Enterage = 89
Enter add = Kathmandu
(('Ram', 34, 'Kathmandu'), ('Shyam', 89, 'Kathmandu'))

In [43]:
a = (('Ram', 34, 'Kathmandu'), ('Shyam', 89, 'Kathmandu'))
b = list(a)
b

[('Ram', 34, 'Kathmandu'), ('Shyam', 89, 'Kathmandu')]

In [44]:
b = list()
a = (('Ram', 34, 'Kathmandu'), ('Shyam', 89, 'Kathmandu'))
for i in a:
    b.append(list(i))
    
print(b)

[['Ram', 34, 'Kathmandu'], ['Shyam', 89, 'Kathmandu']]

In [ ]:
# WAP to create a matrix  by list inside list and tuple inside tuple